@import 'colors';

nav{
    width: 100%;
    height: 90px;
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    >h2{
        color: $tertiary;

    }
    >.links{
        display: flex;
        align-items: center;
        gap: 3rem;

        >.cart-icon{
            font-size: 1.2rem;
        }
        >a{
            text-decoration: none;
            color: $tertiary;
            transform: all 0.3s ease;
            &:hover{
                opacity: 0.5;
            }

            >p{
                position: absolute;
                background-color: $tertiary;
                color: $secondaryDark;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                display: grid;
                place-items: center;
                font-size: 0.7rem;
                transform: translate(80%, -80%);
            }
        }
    }
}